
<header class="grid logo">
  <div class="col-35"></div>
  <div class="col-30"><%= image_tag('wrkt-logo.png') %></div>
</header>

<div class="grid user-form">
<h2>Forgot your password?</h2>

<div class="form">

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, label: false, placeholder: 'Email' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Reset Password" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
</div>
